<h1>{{genre}}</h1>
<p>{{isKing}}</p>
<div ng-controller="searchbar-controller">
	<div class="song-choose" ng-show="isKing">
		<input type="text" ng-model="query" />
		<button class="btn" ng-click="search()">Search</button>
		<button class="btn" ng-click="">Submit tracks</button>
	</div>
	<div class="song-trivia" ng-show="isKing">
		<div ng-repeat="track in tracks track by $index" class="col-md-4">
			<audio src="track.preview[0]"></audio>
			<div ng-repeat="artist in track.artists track by $index" class="col-md-6">
				<button class="btn" ng-click="">{{artist.name}}</button>
			</div>
		</div>
	</div>
</div>
<div class="chat-hill">
	<div class="members members-left"></div>
	<div class="chat-box"></div>
	<div class="members members-right"></div>
</div>

<ul>
	<li ng-repeat="mss in messages">{{mss}}</li>
</ul>

<input ng-model="newMessage"><a ng-click="sendMessage()">send</a>
