<h1>{{genre}}</h1>

<div ng-controller="searchbar-controller">
	<div class="song-choose" ng-show="isKing">
		<input type="text" ng-model="query" />
		<button class="btn" ng-click="search()">Search</button>
		<button class="btn" ng-click="submitTracks()">Submit tracks</button>
		<p data-ng-show="trackName">Added {{trackName}}</p>
	</div>
	<div class="song-trivia" ng-hide="isKing">
		<div ng-repeat="track in tracks track by $index" class="col-md-4">
			<audio id="{{$index}}" ng-src="{{track.preview[0]}}"></audio>
			<div ng-repeat="artist in track.artists track by $index" class="col-md-6">
				<button class="btn" ng-click="guess(track.index, artist.name)">{{artist.name}}</button>
			</div>
			<br />
			<button class="btn btn-success" ng-click="">Add to playlist</button>
		</div>
	</div>
</div>
<div class="chat-hill">
	<div class="members members-left"></div>
	<div class="chat-box">
		<ul class="message-list">
			<li ng-repeat="msg in messages">{{msg.username}}: {{msg.message}}</li>
		</ul>
		<form class="from-horizontal message-box" ng-submit="sendMessage()">
			<div class="input-group">
		      <input type="text" class="form-control" ng-model="newMessage" >
		      <span class="input-group-btn">
		        <button class="btn btn-info" ng-click="sendMessage()" type="button">Send</button>
		      </span>
		    </div>
		</form>
	</div>
	<div class="members members-right"></div>
</div>



